body {
   /* background-color:#E4F9F5; */
   margin: 0;
   text-align: center;
   /* padding-top: 50px; */

   color: #40514E;



}

.skill-image-1 {
   /* height: 350px; */
   width: 25%;
   background-color: rgb(57, 53, 53);
   float: left;
   margin-right: 30px;
}

.skill-image-2 {
   float: right;
}

.top-container {
   background-color: #E4F9F5;
}

/* .middle-container{ */
/* background-color: rgb(194, 194, 247); */
/* } */
/* .bottom-container{ */
/* background-color: #E4F9F5; */
/* } */
h1 {
   width: 10%;
   margin: 0 auto 0 auto;
   font-family: "Sacramento", cursive;
   /* font-weight: 700;
  font-style: normal; */
   font-size: 562.5%;
   line-height: 2;
}

p {
   font-family: "Merriweather", serif;
   font-size: 20px;
}

.bottom-cloud {
   position: absolute;
   width: 250px;
   left: 250px;
}

.top-cloud {
   position: relative;
   left: 250px;
   top: 40px;
   width: 250px;

}

.profile {
   height: auto;
   /* width: 50%; */
   /* margin-top: 40px; */

}

/* .Trademark {
   /* margin-bottom: 0;
   margin-top: 0; */
   /* background-color: rgb(140, 181, 140); */
/* } / */
.Trademark{
   margin-top: 40px;
    color: #EAF6F6;
    font-size: 0.75rem;
}

.mountain {
   height: 500px;

}

.initial {
   color: #66BFBF;
   position: relative;
   right: 100px;
   top: 30px;
   margin-top: 50px
}

.web-dev {
   color: #66BFBF;
   font-size: 2.5rem;
   font-weight: normal;
}

.rest-h2 {
   color: #66BFBF;
   padding-bottom: 10px;
}

.skill-row {
   width: 50%;
   text-align: left;
   line-height: 2;
   margin: 100px auto;
}

.middle {
   margin: 100px 0 100px 0;

}
.contact-para{
   width: 40%;
   margin: 40px auto 60px auto;
}
hr{
   border: dotted #EAF6F6 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto 100px auto;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
   margin: 40px auto 40px auto;
   /* position: relative;
top: 40px; */
}
.bottom-container{
   background-color: #66BFBF;
   margin-top: 70px;
   padding: 30px 0 20px;
}
a{
   color: #11999E;
   font-family: sans-serif;
   text-decoration: none;
 
}
a:hover{
   color: #EAF6F6;
}